.detail_task_stage {
  .child-a.container {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    width: unset;
    justify-content: start;
    align-items: stretch;
    padding: 1.5rem 1rem 0.75rem 1rem;
    box-sizing: border-box;

    .title {
      display: flex;
      justify-content: start;
      align-items: start;
      font-size: 2rem;
      line-height: 2.5rem;
      font-weight: 700;
      color: rgb(28.05, 22.95, 12.75);
    }
  }

  .child-b.main-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 21.375rem;
    width: unset;
    justify-content: start;
    align-items: stretch;
    padding: 1rem;
    box-sizing: border-box;

    .sub-container {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: 19.375rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
    }

    .row {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: 3.875rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
      padding: 1.25rem 0;
      box-sizing: border-box;
      border-top:  0.0625rem solid #E5E8EB;
    }

    .column {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: unset;
      justify-content: start;
      align-items: stretch;
    }

    .column-1 {
      width: 11.625rem;
    }

    .column-2 {
      width: 46.375rem;
    }

    .label {
      display: flex;
      justify-content: start;
      align-items: start;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      font-weight: 400;
      color: rgb(160.65, 130.05, 73.95);
    }

    .label-text {
      display: flex;
      justify-content: start;
      align-items: start;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      font-weight: 400;
      color: rgb(28.05, 22.95, 12.75);
    }
  }

  .child-c.main-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 13.625rem;
    width: unset;
    justify-content: start;
    align-items: stretch;
    padding: 1rem;
    box-sizing: border-box;

    .sub-container {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: 11.625rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
    }

    .row {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: 3.875rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
      padding: 1.25rem 0;
      box-sizing: border-box;
      border-top:  0.0625rem solid #E5E8EB;
    }

    .column {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: unset;
      justify-content: start;
      align-items: stretch;
    }

    .column-1 {
      width: 22.4375rem;
    }

    .column-2 {
      width: 22.4375rem;
    }

    .label {
      display: flex;
      justify-content: start;
      align-items: start;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      font-weight: 400;
      color: rgb(160.65, 130.05, 73.95);
    }

    .label-text {
      display: flex;
      justify-content: start;
      align-items: start;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      font-weight: 400;
      color: rgb(28.05, 22.95, 12.75);
    }
  }

  .child-d.container {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    height: 3rem;
    width: unset;
    justify-content: space-between;
    align-items: stretch;

    .inner-container {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: unset;
      width: 6.875rem;
      justify-content: center;
      align-items: stretch;
      padding: 0rem 1.25rem;
      box-sizing: border-box;
      border-radius: 1.5rem;
      background-color: rgb(244, 239, 229);
    }

    .inner-column {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: unset;
      width: 4.375rem;
      justify-content: start;
      align-items: stretch;
    }

    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 700;
      color: rgb(28, 22, 12);
    }
  }

  .child-e.outer-container {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    height: 4.5rem;
    width: unset;
    justify-content: start;
    align-items: stretch;
    padding: 0.75rem 1rem;
    box-sizing: border-box;

    .inner-container {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: 3rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
    }

    .row-container {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: 3rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
      border-radius: 0.75rem;
      overflow: hidden;
    }

    .left-box {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: unset;
      width: 2.5rem;
      justify-content: center;
      align-items: stretch;
      padding-left: 1rem;
      box-sizing: border-box;
      border-radius: 0rem;
      background-color: rgb(244, 239, 229);
    }

    .left-box-column {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: unset;
      width: 1.5rem;
      justify-content: center;
      align-items: center;
    }

    .left-box-top {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: 1.5rem;
      min-width: 1.5rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
      /* background-color: rgb(160, 130, 74); */
    }

    .left-box-bottom {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: 1.25rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
    }

    .right-box {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: unset;
      width: 100%;
      justify-content: safe;
      align-items: stretch;
      padding: 0.5rem 1rem 0.5rem 0.5rem;
      box-sizing: border-box;
      border-radius: 0rem;
      background-color: rgb(244, 239, 229);
    }

    .text {
      display: flex;
      justify-content: start;
      align-items: center;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400;
      color: rgb(160, 130, 74);
    }
  }

  .child-f.outer-container {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    height: 3.5rem;
    width: unset;
    justify-content: start;
    align-items: stretch;
    padding: 0.75rem 1rem 0.75rem 0.75rem;
    box-sizing: border-box;

    .inner-container {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      height: unset;
      width: 8.0625rem;
      justify-content: center;
      align-items: center;
      padding: 0rem 0.5rem;
      box-sizing: border-box;
      border-radius: 1rem;
      background-color: rgb(244, 239, 229);
    }

    .left-column {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: unset;
      width: 1.25rem;
      justify-content: center;
      align-items: stretch;
    }

    .left-top {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: 1.25rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
    }

    .left-bottom {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: 1rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
    }

    .center-column {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: unset;
      width: 3.5625rem;
      justify-content: center;
      align-items: stretch;
    }

    .center-text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      font-weight: 500;
      color: rgb(28, 23, 13);
    }

    .right-column {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: unset;
      width: 1.25rem;
      justify-content: center;
      align-items: stretch;
    }

    .right-top {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: 1.25rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
    }

    .right-bottom {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: 0.5rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
    }
  }

  .child-g.outer-container {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    height: 9rem;
    width: unset;
    justify-content: start;
    align-items: stretch;
    padding: 0.75rem 1rem;
    box-sizing: border-box;

    .inner-container {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: 7.5rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
      border-radius: 0.75rem;
      background-color: rgb(255, 255, 255);
      border: 0.0625rem solid #E8DECF;
    }

    .content-column {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: unset;
      width: 100%;
      justify-content: start;
      align-items: stretch;
    }

    .header-row {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: 2.875rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
      border-bottom: 0.0625rem solid #E5E8EB;
      /* background-color: rgb(255, 255, 255); */
    }

    .cell {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: unset;
      justify-content: start;
      align-items: stretch;
      padding: 0.75rem 1rem;
      box-sizing: border-box;
    }

    .cell-text {
      display: flex;
      justify-content: start;
      align-items: start;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      font-weight: 500;
      color: rgb(28, 23, 13);
    }

    .row {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: 4.5rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
    }

    .data-cell {
      display: flex;
      justify-content: start;
      align-items: center;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      font-weight: 400;
      color: rgb(28, 23, 13);
    }

    .observation-cell-text {
      color: rgb(160, 130, 74);
    }

    .status-container {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: 2rem;
      width: unset;
      justify-content: center;
      align-items: stretch;
      padding: 0rem 1rem;
      box-sizing: border-box;
      border-radius: 1rem;
      background-color: rgb(244, 239, 229);
    }

    .status-text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      font-weight: 500;
      color: rgb(28, 23, 13);
    }
  }

  .child-h.container {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    height: 4.5rem;
    width: unset;
    justify-content: center;
    align-items: stretch;
    padding: 1rem;
    box-sizing: border-box;

    .left-column,
    .right-column {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: unset;
      width: 2.5rem;
      justify-content: center;
      align-items: center;
    }

    .icon-column {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: unset;
      width: 1.125rem;
      justify-content: start;
      align-items: stretch;
    }

    .icon-top {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: 1.125rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
      background-color: rgb(28, 23, 13);
    }

    .icon-bottom {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: 0.75rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
    }

    .middle-column {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: unset;
      width: 2.5rem;
      justify-content: center;
      align-items: stretch;
      border-radius: 1.25rem;
      background-color: rgb(244, 239, 229);
    }

    .middle-text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      font-weight: 700;
      color: rgb(28, 23, 13);
    }
  }
}
