.locations-stage {
  .create-button, .cancel-button {
    position: relative;
  }



  /* Container div */
  .child-a.container {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    height: 4rem;
    width: unset;
    justify-content: start;
    align-items: stretch;
    padding: 0.75rem 1rem;
    box-sizing: border-box;

    /* Inner container */
    .inner-container {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: unset;
      width: 100%;
      justify-content: center;
      align-items: stretch;
      padding: 0.25rem;
      box-sizing: border-box;
      border-radius: 1.25rem;
      background-color: rgb(244.8, 239.7, 229.5);
    }

    /* Button style common */
    .button {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: unset;
      justify-content: center;
      align-items: center;
      padding: 0rem 0.5rem;
      box-sizing: border-box;
      border-radius: 1rem;
    }

    /* Specific button widths */
    .button-small {
      width: 6.375rem;
      background-color: rgb(255, 255, 255);
    }

    .button-medium {
      width: 7rem;
    }

    .button-large {
      width: 8.5rem;
    }

    /* Column container */
    .column-container {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: unset;
      justify-content: start;
      align-items: stretch;
    }

    /* Text styles */
    .text {
      display: flex;
      justify-content: start;
      align-items: start;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      font-weight: 500;
    }

    .text-active {
      color: rgb(28.05, 22.95, 12.75);
    }

    .text-inactive,
    .text-inoperative {
      color: rgb(160.65, 130.05, 73.95);
    }
  }

  /* Outer container */
  .child-b.outer-container {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    min-height: 13.5rem;
    width: unset;
    justify-content: start;
    align-items: stretch;
   


    .card-container:hover::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background-color: #e6dadd29;
      cursor: pointer;
      pointer-events: none;
      border: 2px solid #b392994d;

    }
  
    .card-container:active::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background-color: #e6dadd52 !important;
      border: 2px solid #b392994d;

      
    }

    /* Card container */
    .card-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      height: 4.5rem;
      position: relative;
      width: unset;
      justify-content: space-between;
      align-items: stretch;
      padding: 0.5rem 1rem;
      box-sizing: border-box;
      background-color: rgb(255, 255, 255);
/* 
      * {
        pointer-events: none;
      } */
    }



    /* Content container */
    .content-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      height: unset;
      /* width: 17.5625rem; */
      justify-content: start;
      align-items: stretch;
    }

    /* Icon container */
    .icon-container {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: unset;
      width: 3rem;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      background-color: rgb(244.8, 239.7, 229.5);
    }

    /* Icon */
    .icon {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: unset;
      width: 1.5rem;
      height: 1.5rem;
      justify-content: center;
      align-items: stretch;
    }

    /* Text content container */
    .text-content {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: unset;
      /* width: 13.5625rem; */
      justify-content: center;
      align-items: stretch;
    }

    .title-container {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: 1.5rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
    }

    .title {
      display: flex;
      justify-content: start;
      align-items: start;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 500;
      color: rgb(28.05, 22.95, 12.75);
    }

    .subtitle-container {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: 1.3125rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
    }

    .subtitle {
      display: flex;
      justify-content: start;
      align-items: start;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      font-weight: 400;
      color: rgb(160.65, 130.05, 73.95);
    }

    /* Action icon container */
    .action-icon-container {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: unset;
      width: 1.75rem;
      justify-content: center;
      align-items: stretch;
    }

    .action-icon {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: 1.75rem;
      width: unset;
      justify-content: center;
      align-items: stretch;
    }
  }

  /* Outer container */
  .child-c.outer-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 7rem;
    width: unset;
    justify-content: end;
    align-items: stretch;
    padding: 0.75rem 1rem;

    /* Content container */
    .content-container {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: 5.5rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
    }

    /* Title container */
    .title-container {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: 2rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
      padding-bottom: 0.5rem;
    }

    /* Title */
    .title {
      display: flex;
      justify-content: start;
      align-items: start;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 500;
      color: rgb(28.05, 22.95, 12.75);
    }

    /* Option container */
    .option-container {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: 3.5rem;
      width: unset;
      justify-content: space-between;
      align-items: stretch;
      padding: 1.0625rem 1.4375rem 0.9375rem 0.9375rem;
      border-radius: 0.75rem;
      background-color: rgb(255, 255, 255);
      border: 0.0625rem solid #e8decf;
    }

    /* Color bar */
    .color-bar {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: unset;
      width: 0.6875rem;
      justify-content: start;
      align-items: stretch;
      /* background-color: rgb(160.65, 130.05, 73.95); */
    }

    /* Option text */
    .option-text {
      display: flex;
      justify-content: start;
      align-items: start;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400;
      color: rgb(28.05, 22.95, 12.75);
    }
  }

  .child-d.outer-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 7rem;
    width: unset;
    justify-content: start;
    align-items: stretch;
    padding: 0.75rem 1rem;
    box-sizing: border-box;

    /* Content container */
    .content-container {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: unset;
      width: 38rem;
    max-width: 100%;
      justify-content: start;
      align-items: stretch;
    }

    /* Title container */
    .title-container {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: 2rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
      padding-bottom: 0.5rem;
      box-sizing: border-box;
    }

    /* Title */
    .title {
      display: flex;
      justify-content: start;
      align-items: start;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 500;
      color: rgb(28.05, 22.95, 12.75);
    }

    /* Input container */
    .input-container {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: 3.5rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
      padding: 0.9375rem;
      box-sizing: border-box;
      border-radius: 0.75rem;
      background-color: rgb(255, 255, 255);
      border: 0.0625rem solid #e8decf;
    }

    /* Input placeholder */
    .input-placeholder {
      display: flex;
      justify-content: start;
      align-items: center;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400;
      
      font-family: "Plus Jakarta Sans", sans-serif;
      text-rendering: geometricprecision;
    }

    .input-placeholder::placeholder {
      color: rgb(160.65, 130.05, 73.95);
    }
  }

  /* Outer container */
  .child-e.outer-container {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    height: 9.75rem;
    width: unset;
    justify-content: start;
    align-items: stretch;

    /* Status container */
    .status-container {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: 4rem;
      width: unset;
      justify-content: start;
      align-items: stretch;
      padding: 0.75rem 1rem;
      box-sizing: border-box;
    }

    /* Inner container */
    .inner-container {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      height: unset;
      width: 100%;
      justify-content: center;
      align-items: stretch;
      padding: 0.25rem;
      box-sizing: border-box;
      border-radius: 1.25rem;
      background-color: rgb(244.8, 239.7, 229.5);
    }

    /* Status button */
    .status-button {
      display: flex;
      flex-direction: row;
      gap: 0rem;
      justify-content: center;
      align-items: center;
      padding: 0rem 0.5rem;
      box-sizing: border-box;
      border-radius: 1rem;
    }

    .status-button.active {
      width: 6.375rem;
      background-color: rgb(255, 255, 255);
    }

    .status-button.inactive,
    .status-button.inoperative {
      background-color: unset;
    }

    .status-button.inactive {
      width: 7rem;
    }

    .status-button.inoperative {
      width: 8.5rem;
    }

    /* Status label */
    .status-label {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      justify-content: start;
      align-items: stretch;
    }

    .status-label-text {
      display: flex;
      justify-content: start;
      align-items: start;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      font-weight: 500;
    }

    .status-label-text.active {
      color: rgb(28.05, 22.95, 12.75);
    }

    .status-label-text.inactive,
    .status-label-text.inoperative {
      color: rgb(160.65, 130.05, 73.95);
    }

    /* Button container */
    .button-container {
      display: flex;
      flex-direction: row;
      gap: 0.75rem;
      justify-content: start;
      align-items: stretch;
      padding: 0.75rem 1rem;
      box-sizing: border-box;
      height: 4.5rem;
    }

    /* Create button */
    .create-button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0rem 1.25rem;
      box-sizing: border-box;
      border-radius: 1.5rem;
      background-color: rgb(0, 153, 99.45);
    }

    .create-button-text {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 700;
      color: rgb(255, 255, 255);
    }

    /* Cancel button */
    .cancel-button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0rem 1.25rem;
      box-sizing: border-box;
      border-radius: 1.5rem;
      background-color: rgb(244.8, 239.7, 229.5);
    }

    .cancel-button-text {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 700;
      color: rgb(28.05, 22.95, 12.75);
    }

    /* Spacer */
    .spacer {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: 1.25rem;
      justify-content: start;
      align-items: stretch;
      background-color: rgb(255, 255, 255);
    }
  }


}
