.tidy-menu.flex-column-start {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: start;
  align-items: stretch;

  .flex-row-start {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    justify-content: start;
    align-items: stretch;
    padding: 0.75rem;
    box-sizing: border-box;
  }

  .white-bg {
    background-color: rgb(255, 255, 255);
  }

  .button {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: stretch;
    padding: 0rem 0.5rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: rgb(244.8, 239.7, 229.5);
  }

  .icon-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    justify-content: center;
    align-items: center;
    width: 1.25rem;
  }

  .icon-bg {
    height: 1.25rem;
    background-color: rgb(28.05, 22.95, 12.75);
  }

  .icon-small-gap {
    height: 0.75rem;
  }

  .icon-gap-small {
    height: 0.3125rem;
  }

  .icon-gap-medium {
    height: 0.5rem;
  }

  .icon-gap-large {
    height: 1rem;
  }

  .button-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    font-weight: 500;
    color: rgb(28.05, 22.95, 12.75);
  }

  .white-space {
    height: 1.25rem;
    background-color: rgb(255, 255, 255);
  }
}
