.summary-stage.events-navigation.outer-container, 
.summary-stage.events-navigation {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  height: 4rem;
  justify-content: start;
  align-items: stretch;
  padding: 0.75rem 1rem;
  box-sizing: border-box;

  .button:hover::after, .create-button:hover::after, .cancel-button:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  border: 2px solid rgba(11, 10, 10, 0.428);
  border-radius: 1.5rem;
}

.button:active::after, .create-button:active::after, .cancel-button:active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  border: 2px solid #b392994d;
  border-radius: 1.5rem;
}

  /* Inner container */
  .inner-container {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    padding: 0.25rem;
    box-sizing: border-box;
    border-radius: 1.25rem;
    background-color: rgb(245, 240, 230); /* Corrected RGB values */
  }

  /* Hover and Activas states */
  .button:not(.active):hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: #e6dadd29;
    border-radius: 1rem;
  }

  .button:not(.active):active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: #e6dadd52 !important;
    border-radius: 1rem;
  }

  /* Button common styles */
  .button {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* Center aligned for all buttons */
    padding: 1rem 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    cursor: pointer;
    min-width: 6.75rem;
  }

  /* Button for Hoy */
  .button-hoy {
    width: 6.6875rem;
    background-color: rgb(255, 255, 255);
  }

  /* Button for Semana */
  .button-semana {
    width: 8.4375rem;
  }

  /* Button for Mes */
  .button-mes {
    width: 6.75rem;
  }

  /* Label common styles */
  .label {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    pointer-events: none;
  }

  /* Text common styles */
  .label-text {
    font-size: 0.875rem;
    line-height: 1.3125rem;
    font-weight: 500;
  }

  /* Text for Hoy */
  .label-text-hoy {
    /* color: rgb(28, 23, 13); */
  }

  /* Text for Semana and Mes */
  .label-text-inactive {
    /* color: rgb(161, 130, 74); */
  }

  @media (orientation: portrait) {
    .button {
      width: 100%;
    } 
  }
}

/* Remove this empty selector unless needed */
.summary-stage.events-navigation {
  
}
