

.default-navigation.main-container {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  height: 3.375rem;
  width: unset;
  justify-content: end;
  align-items: stretch;

  /* padding: 0rem 0rem 0.75rem 0rem; */

  .row-container {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    height: 3.375rem;
    width: unset;
    background-color: #fff;
    justify-content: space-between;
    align-items: stretch;
    padding: 0rem 1rem 0rem 1rem;
    box-sizing: border-box;
    border-bottom: 0.0625rem solid #E8DECF;
  }

  .column-container:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    /* background-color: #e6dadd29; */
    cursor: pointer;
    pointer-events: none;
  }

  .column-container:active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: #e6dadd52 !important;
  }
  
  .column-container * {
    pointer-events: none;
  }
  
  .column-container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0rem;
    height: unset;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    padding: 1rem 0rem 0.8125rem 0rem;
    box-sizing: border-box;
    border-bottom: 3px solid #E5E8EB;
    filter: blur(0.33px);
  }

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    height: 1.3125rem;
    width: unset;
    justify-content: start;
    align-items: stretch;
  }

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    font-weight: 700;
    z-index: 97;
  }

  .text-locations {
    color: rgb(160.65, 130.05, 73.95);
  }

  .text-events {
    color: rgb(160.65, 130.05, 73.95);
  }

  .text-tasks {
    color: rgb(160.65, 130.05, 73.95);
  }

  .text-settings {
    color: rgb(160.65, 130.05, 73.95);
  }
}
