.goback-navigation.outer-container {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  height: 4.5rem;
  width: unset;
  justify-content: space-between;
  align-items: stretch;
  padding: 1rem 1rem 0.5rem 1rem;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);

  .inner-container {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    height: unset;
    width: 3rem;
    justify-content: start;
    align-items: stretch;
  }

  .column-container {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    height: unset;
    width: 1.5rem;
    justify-content: center;
    align-items: stretch;

  }

  .colored-box {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    height: 1.5rem;
    width: unset;
    justify-content: start;
    align-items: stretch;
    cursor: pointer;
    /* background-color: rgb(28, 23, 13); */
  }

  .spacer-box {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    min-height: 0.9375rem;
    width: unset;
    justify-content: start;
    align-items: stretch;
  }
}
