.pages-navigation.container {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  height: 4.5rem;
  width: unset;
  justify-content: center;
  align-items: stretch;
  padding: 1rem;
  box-sizing: border-box;

  .column {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    height: unset;
    width: 2.5rem;
    justify-content: center;
    align-items: stretch;
  }

  .icon-container {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    height: unset;
    width: 1.125rem;
    justify-content: center;
    align-items: stretch;
  }

  .icon-top {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    height: 1.125rem;
    width: unset;
    justify-content: start;
    align-items: stretch;
  }

  .icon-bottom {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    height: 0.75rem;
    width: unset;
    justify-content: start;
    align-items: stretch;
  }

  .number-box {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    height: unset;
    width: 2.5rem;
    justify-content: center;
    align-items: stretch;
    border-radius: 1.25rem;
    
    &.active {
      background-color: rgb(244, 239, 229);
      font-weight: 700;
    }
  }

  .number-text-bold {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    font-weight: 700;
    color: rgb(28, 23, 13);
  }

  .number-text {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    font-weight: 400;
    color: rgb(28, 23, 13);
  }
}
