.default-menu.flex-row-container {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  height: 4.5rem;
  width: unset;
  justify-content: space-between;
  align-items: stretch;

  .content-row {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    height: unset;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    padding: 0.75rem 1rem;
    box-sizing: border-box;
  }

  .button-create-event {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    height: unset;
    width: 8.8125rem;
    justify-content: center;
    align-items: center;
    padding: 0rem 1.25rem;
    box-sizing: border-box;
    border-radius: 1.5rem;
    background-color: rgb(0, 153, 99.45);
  }

  .button-schedule-event {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    height: unset;
    width: 10.0625rem;
    justify-content: center;
    align-items: center;
    padding: 0rem 1.25rem;
    box-sizing: border-box;
    border-radius: 1.5rem;
    background-color: rgb(244.8, 239.7, 229.5);
  }

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    height: unset;
    justify-content: start;
    align-items: stretch;
  }

  .text-create-event {
    width: 6.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
  }

  .text-schedule-event {
    width: 7.5625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: rgb(28.05, 22.95, 12.75);
  }
}
